/* General Stuff */

body {
    background-color: #000;
}

p {
    text-decoration: none;
    color: #FD0;
}

.header-container {
    height: 2em;
    background-color: #333;
}

.header-entry {
    display: block;
    height: 100%;
    text-decoration: none;
}

.header-entry p {
    display: inline-block;
    margin-top: 0.4em;
}

.header-user {
    width: 12em;
    font-size: large;
    font-weight: bold;
    margin-left: auto;
}

.header-new-thing {
    width: 12em;
    float: left;
}

.header-new-thing p {
    font-size: larger;
}

/* Items */
.item {
    margin: 1em;
    float: left;
    background-color: #333;
    width: 12em;
    height: 15em;
}

.item img {
    width: 100%;
}

.item a {
    text-decoration: none;
}

.item p {
    color: #FD0;
}

.item .name {
    margin: 4px 0px 0px 8px;
    font-weight: bold;
}

.item .price {
    margin: 0px 8px 0px 0px;
    text-align: right;
    font-style: italic;
}