/* General Stuff */

body {
    background-color: #000;
}

p {
    text-decoration: none;
    color: #FD0;
}

/* Checkbox Hack */

.checkboxHack input[type="checkbox"] {
    display: none;
}

.checkboxHack input[type="checkbox"] + .checkboxHack-target {
    display: none;
}

.checkboxHack input[type="checkbox"]:checked + .checkboxHack-target {
    display: block;
}

/* Page Header */

.header-container {
    height: 2em;
    background-color: #333;
}

.header-entry {
    display: block;
    height: 100%;
    text-decoration: none;
}

.header-entry p {
    display: inline-block;
    margin-top: 0.4em;
}

.header-user {
    width: 12em;
    font-size: large;
    font-weight: bold;
    margin-left: auto;
}

.header-new-thing {
    width: 12em;
    float: left;
}

.header-new-thing p {
    font-size: larger;
}

/* Forms */
.form {
    width: 24em;
    margin: 0em auto 0em auto;
}

.form > label {
    width: 6em;
    margin: 0em 1em 0em 0em;
    float: left;
    color: #FD0;
    font-weight: bold;
    text-align: right;
}

.form > input {
    display: block;
}

.form > input[type="submit"] {
    margin: 2em 0 0 auto;
}

.form > a {
    text-align: right;
    text-decoration: none;
}

/* Pages - Index */
.index-content {
    padding-right: 3em;
}

.item {
    display: block;
    margin: 1em;
    float: left;
    background-color: #333;
    width: 12em;
    height: 15em;
}

.item-confirm p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    width: 5em;
    height: 15em;
}

.item-confirm .yes {
    font-weight: bold;
    background-color: green;
}

.item-confirm {
    position: relative;
    width:6em;
    height: 15em;
    top: -15em;
    left: 12em;
    background-color: #333;
}

.item img {
    width: 100%;
}

.item a {
    text-decoration: none;
}

.item p {
    color: #FD0;
}

.item .name {
    margin: 4px 0px 0px 8px;
    font-weight: bold;
}

.item .price {
    margin: 0px 8px 0px 0px;
    text-align: right;
    font-style: italic;
}

.index-user {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8em;
    height: 3em;
    background-color: #333;
    text-decoration: none;
}

.index-user > p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    font-size: larger;
    font-weight: bold;
}

.balance-red {
    color: black;
    background-color: red;
}

.balance-green {
    background-color: #333;
}


/* Pages - User Create */

.page-user-create img {
    display: block;
    width: 320px;
    margin: 2em auto 0 auto;
}

.page-user-create > p {
    display: block;
    width: 16em;
    margin: 2em auto 2em auto;
}

.page-user-create > .form > a > p {
    margin: 0.2em 0 0 0;
}

/* Pages - User Create Success */

.page-user-create-success img {
    display: block;
    width: 320px;
    margin: 4em auto 0 auto;
}

.page-user-create-success p {
    display: block;
    font-weight: bolder;
    margin: 2em auto 2em auto;
    text-align: center;
}

.page-user-create-success a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #FD0;
}

/* Page - User SignIn Selection */
.user-select {
    margin: 1em;
    float: left;
    width: 12em;
    height: 15em;
    background-color: #FFF;
    text-decoration: none;
}

.user-select > img {
    display: block;
    width: 100%;
}

.user-select p {
    display: flex;
    height: 3em;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #333;
    font-weight: bold;
}

/* Page - Sales History */
.sales-heading {
    color: #FD0;
}

.history-content a {
    text-decoration: none;
    color: #FD0;
}

.sales-group {
    display: block;
    font-weight: bolder;
}

.sales-entry {
    display: table;
    margin-left: 4em;
    margin-right: 0.5em;
}

.sales-entry p[type="time"] {
    display: table-cell;
    width: 3em;
    text-align: left;
}

.sales-entry p[type="info"] {
    display: table-cell;
    width: 100%;
    text-align: right;
}

.user-history-page {
    position: fixed;
    width: 20em;
    height: 100%;
    top: 0;
    right: 0;
}

.index-userinfo {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #333;
}