/* General Stuff */

.header-container {
    height: 32px;
    background-color: gray;
}

.user-container {
    display: block;
    width: 200px;
    font-size: large;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-left: auto;
}

/* Items */
.item {
    margin: 1em;
}

.item a > img {
    width: 12em;
    border-style: solid;
    border-width: 0.2em;
    border-color: black;
    border-radius: 0.2em;
}

.item p {
    display: block;
}