<div class="page-user-create">
    <img src="./images/new_user.gif"/>

    <p>
        Create a new user. Just enter your name and a link to your avatar, I'll do the rest.
    </p>

    <form class="form" action="?page=user_create" method="post">
	    <p>
            <label for="name">Name</label>
            <input type="text" id="name" name="name"/>
        </p>
	    <p>
            <label for="avatar">Avatar URL</label>
            <input type="text" id="avatar" name="avatar"/>
        </p>
	    <p>
            <input type="submit" value="Create Account"><br />
            <a href="?page=user_signin">Or SignIn Instead</a>
        </p>
    </form>
</div>
